* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.board-container {
  display: flex;
  /* 
  
  Estas dos líneas ayudan a que haga salto de línea si no puede ocupar todo el espacio en una sola, y además alinea todos los elementos en el principio, haciendo que no haya espacio entre las dos líneas que se crean debido al overflow

  flex-flow: wrap;
  align-content: flex-start; 
  
  */
  width: 500px;
  height: 300px;
  border: 3px solid;
}

.pixel {
  width: 55px;
  height: 55px;
  margin: 0;
  background-color: red;
}
